body {
  align-items: center;
  background-image: url(https://s3.amazonaws.com/files.enjin.com/564201/images/bg/bg4.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  font-family: ceviche one;
  color: black;
  text-align: center;
  font-size: 95px;
}

h2 {
  font-family: caveat;
  color: black;
  text-align: center;
  font-size: 50px;
}

p {
  font-family: pt sans;
}

img {
  width: 250px;
  align-items: center;
}

.pichu {
  width: 300px;
  float: left;
  padding: 30px;
  border: 4px solid #D9811D;
  margin: 10px;
  background-color: #F6F9CA;
}

.igglybuff {
  width: 300px;
  float: left;
  padding: 30px;
  border: 4px solid #B21487;
  margin: 10px;
  padding-bottom: 155px;
  background-color: #F5CDF3;
}

.magby {
  width: 300px;
  float: left;
  padding: 30px;
  padding-bottom: 175px;
  border: 4px solid maroon;
  margin: 10px;
  background-color: #F2B3B3;
}

.togepi {
  width: 300px;
  float: left;
  padding: 30px;
  padding-bottom: 35px;
  border: 4px solid #B21487;
  margin: 10px;
  background-color: #F5CDF3;
}

.smoochum {
  width: 300px;
  float: left;
  padding: 30px;
  padding-bottom: 75px;
  border: 4px solid #660989;
  margin: 10px;
  background-color: #D9ABEA;
}

.mantyke {
  width: 300px;
  float: left;
  padding: 30px;
  padding-bottom: 233px;
  border: 4px solid #0D5C86;
  margin: 10px;
  background-color: #ABD4EA;
}

.mantyke p a {
  font-weight: bold;
  color: #0D5C86;
}

.smoochum p a {
  font-weight: bold;
  color: #660989;
}

.pichu p a {
  font-weight: bold;
  color: #DF9410;
}

.igglybuff p a {
  font-weight: bold;
  color: #7917BD;
}

.togepi p a {
  font-weight: bold;
  color: #7917BD;
}

.magby p a {
  font-weight: bold;
  color: #FFFFFF;
}

/* Media Query Below */

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: #7917BD
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  body {
    background-color: #F5CDF3
  }
}
