img {
  width: 250px;
}

.pichu {
  width: 300px;
  float: left;
  padding: 30px;
  border: 4px solid maroon;
  margin: 10px;
  background-color: #BDF0E8;
}

.igglybuff {
  width: 300px;
  float: left;
  padding: 30px;
  border: 4px solid maroon;
  margin: 10px;
  background-color: #BDF0E8;
}

.togepi {
  width: 300px;
  float: left;
  padding: 30px;
  border: 4px solid maroon;
  margin: 10px;
  background-color: #BDF0E8;
}

.magby {
  width: 300px;
  float: left;
  padding: 30px;
  border: 4px solid maroon;
  margin: 10px;
  background-color: #BDF0E8;
}
